/*
----------
Biotic Pixels 25 September 2013 08:12:51
----------
*/

/*
----------
Eric Meyer’s “Reset CSS” 2.0
----------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
----------
Main Styles
----------
*/

html {
    width: 100%;
    height: 100%;
}

body {
    color:#373737;
    background: #FFFFFF;
    font-family: 'Helvetica Neue', Helvetica, 'Myriad Pro', Calibri, sans-serif;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    
    text-align: center;
    height: 100%;
}

div {
    /*
    Unconvensional styles that ensures the text within the div remains in the centre of the screen.
    Required for variably sized fonts (meaning the dimensions of the container cannot be known or defined).
    1 major drawback is text does not fold correctly, however in is application this is unnecessary and has been rendered impossible using a little JavaScript (and CSS vw units as fall back).
    */
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: fixed;
    height: 0;
}

h1 {
    font-size: 6vw;
    font-weight: 700;
    color:#222222;
    
    /*
    Styles required to avoid the title and links from overlapping, resulting from the container div's height being 0.
    */
    margin-top: -1.5vw;
    padding-bottom: 4vw;
}

nav, a, ul, li {
    font-size: 1vw;
    margin: 10px 0 15px 0px;
}

a, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007edf;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}
