/*
----------
Biotic Pixels 25 September 2013 08:12:51
----------
Used for the index and 404 pages
*/

/*
----------
Eric Meyer’s “Reset CSS” 2.0
----------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
----------
Main Styles
----------
*/

html {
    width: 100%;
    height: 100%;
}

body {
    color: #373737;
    background: #FFFFFF;
    font-family: 'Helvetica Neue', Helvetica, 'Myriad Pro', Calibri, sans-serif;
    line-height: 0;
    -webkit-font-smoothing: antialiased;

    text-align: center;
    height: 100%;
}

div {
    /*
    Unconventional styles that ensures the text within the div remains in the centre of the screen.
    Required for variably sized fonts (meaning the dimensions of the container cannot be known or defined).
    */
    /*margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 0;*/
}

#bioticPixelsImage {
    height: 20vw;
    width: 20vw;
    margin-top: -20vw;
    padding-bottom: 11vw;
}

h1 {
    font-size: 6vw;
    font-weight: 700;
    color: rgb(35, 35, 35);

    /*
    Styles required to avoid the title and links from overlapping, resulting from the container div's height being 0.
    */
    margin-top: -1.5vw;
    padding-bottom: 4vw;
}

p, nav, a, ul, li, form, input {
    font-family: 'Helvetica Neue', Helvetica, 'Myriad Pro', Calibri, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1vw;
    line-height: 1.3;
}

nav {
    display: inline;
    max-width: 500px;
}

#articles {
    position: relative;
    top: 0.5em;
    line-height: 1.3;
    /*
    Apparently padding-left and padding-right effect the vertical spacing instead of horizontal spacing (padding-top or padding-bottom being ineffective in this regard - same with margins) for whatever reason - could be useful.
    */

    padding-left: 5vw;
    padding-right: 5vw;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007edf;
}

h1 a {
    font-size: inherit;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

p {
    line-height: 1.3;
    padding-left: 5vw;
    padding-right: 5vw;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

/*
@TODO 11 March 2014 06:44:23 Can't get the DynamicScaling JavaScript to work in supporting.scss - try copy and pasting them, it really should work but for some reason it doesn't (tried with @import and without - perhaps something with the way css is retrieved by the DOM function/how it's stored in the DOM)
@TODO Improve the CSS to remove repeated styles (including in index, articles, and supporting)
*/

/*
@TODO Javascript does not function selectors in media queries.
*/

#donating h2 {
    display: none;
}

#bioticPixelsImageLink {
    line-height: 0;
}