/*
----------
Biotic Pixels 11 March 2014 05:20:18
----------
*/
@media screen and (max-width: 800px) {
  div {
    position: relative; }

  #donating {
    top: 5em;
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 1em; } }
