
.idea/encodings.xml

.idea/.name

.idea/BioticPixels.iml

.idea/dictionaries/samuel_l.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.DS_Store

.DS_Store

.DS_Store

.DS_Store
